:root {
  --bg-prime: #161b22;
  --bg-main: #0d1117;
  --bg-icon: #474a4e;
  --color-prime: #a5a6a7;
}
html {
  overflow: auto;
}
.w-fit {
  width: fit-content;
}
.b-prime {
  background-color: var(--bg-prime);
}
.b-main {
  background-color: var(--bg-main);
}
.b-icon {
  background-color: var(--bg-icon);
}
.c-prime {
  color: var(--color-prime);
}

.bi {
  cursor: pointer;
}
.parent-icon:hover {
  background-color: var(--bg-icon);
}
.parent-index {
  width: 25px;
  height: 25px;
}
.task-data {
  background: rgba(0, 0, 0, 0.065);
  z-index: 9999;
}
select {
  position: relative;
}
.title {
  position: absolute;
  color: #000;
  z-index: 5555555;
  background-color: aqua;
}

.task-data {
  display: none;
}
