:root {
  --bg-prime: #161b22;
  --bg-main: #0d1117;
  --bg-icon: #474a4e;
  --color-prime: #a5a6a7;
}
.w-fit {
  width: fit-content;
}
.b-prime {
  background-color: var(--bg-prime);
}
.b-main {
  background-color: var(--bg-main);
}
.b-icon {
  background-color: var(--bg-icon);
}
.c-prime {
  color: var(--color-prime);
}

.bi {
  cursor: pointer;
}
.parent-icon:hover {
  background-color: var(--bg-icon);
}
.parent-index {
  width: 25px;
  height: 25px;
}
